.container {
	display: grid;
	grid-template-columns: 100%;
  /* flex-wrap: wrap; */
}

.left_column {
  width: 100%;
  order: 1;
}

.right_column {
	order: 0;
	margin-bottom: 80px;
}

.sosweet {
  display: grid;
  justify-items: center;
  align-items: center;
}

.sosweet_mockup {
  width: 100%;
  max-width: 750px;
  height: auto;
}

.sosweet_mockup,
.sosweet_bg {
  grid-area: 1 / 1 / 2 / 2;
}

.sosweet_bg {
	width: 95%;
	height: 95%;
  z-index: -1;
}

.sosweet_ellipse {
  fill: var(--bg2);
}

.sosweet_pattern {
  fill: var(--accent2);
}

.imgDark {
  display: none;
}

[data-theme='dark'] .imgLight {
  color-scheme: dark;
  display: none;
}

[data-theme='dark'] .imgDark {
  color-scheme: dark;
  display: unset;
}

.intro {
  font-family: var(--red-hat-display);
  font-size: var(--rem-48px);
  font-weight: var(--fw-400);
  line-height: var(--rem-64px);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.greeting {
  font-family: var(--dm-serif-display);
  font-size: var(--rem-80px);
  font-style: italic;
  text-transform: none;
  color: var(--accent1);
}

.pronunciation {
  font-size: var(--rem-16px);
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.intro_text {
  max-width: 420px;
}

@media screen and (min-width: 768px) {
	.container {
		grid-template-columns: 40% 60%;
	}

  .left_column {
    order: 0;
  }

  .right_column {
    order: 1;
		margin-bottom: unset;
  }
}
