.container {
  flex-wrap: wrap;
}

.left_column {
  width: 100%;
  margin-bottom: 72px;
  justify-content: center;
  align-items: center;
}

.right_column {
  width: 100%;
}

.lucca {
  width: 85%;
  max-width: 375px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .left_column {
    width: calc(50% - 72px);
    align-items: start;
    padding-right: 72px;
  }

  .right_column {
    width: 50%;
  }

  .lucca {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .lucca {
    max-width: unset;
  }
}
