.container {
  flex-wrap: wrap;
}

.left_column {
  width: 100%;

  justify-content: center;
  align-items: center;
}

.right_column {
  width: 100%;
}

.lucca {
  width: 85%;
  max-width: 375px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .left_column {
    width: 50%;
    align-items: start;
  }

  .right_column {
    width: 50%;
  }

  .lucca {
    width: 100%;
  }
}
