.cache/
coverage/
dist/*
node_modules/
.next/
.swc/
*.log
.env
.env.local
.env.development
.env.production
# Sentry Config File
.env.sentry-build-plugin
app/api/sentry-example-api/
app/sentry-example-page/