.container {
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

select.filter {
  font-size: 1.15rem;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.filter_desktop {
  display: none;
}

.proj_container {
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  height: 320px;
  padding: 20px;
  background-color: var(--color-china-rose);
  color: var(--color-white);
}

.active {
  font-weight: var(--fw-800);
}

.tech_stack {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: end;
  gap: 5px;
}

.skill {
  font-size: 12px;
  font-weight: var(--fw-600);
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-white);
  color: var(--color-space-cadet);
}

.proj_image {
  width: 100%;
  height: 405px;
  border: 1px solid var(--color-china-rose);
}

.proj_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .filter_mobile {
    display: none;
  }

  .filter_desktop {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    column-gap: 80px;
  }

  .filter_desktop span {
    cursor: pointer;
  }

  .project {
    flex-direction: row;
    align-items: center;
    margin: 40px 0px;
  }

  .proj_image {
    width: 50%;
  }

  .info {
    width: calc(50% - 16px);
    margin-left: -24px;
  }

  .project.reverse .info {
    order: 0;
    margin-left: 0px;
    margin-right: -24px;
  }

  .project.reverse .proj_image {
    order: 1;
    z-index: -1;
  }
}
