.container {
  flex-direction: column;
  align-items: center;
}

.display3 {
  text-align: center;
  max-width: 20ch;
}

.cta_text {
  max-width: 40ch;
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
}
