.nav {
  width: 100%;
  align-self: stretch;
  justify-content: center;

  background-color: var(--bg1);

  padding-top: var(--p-32);
  padding-bottom: 1rem;
  margin-bottom: var(--rem-40px);

  font-size: var(--rem-16px);
  text-align: left;
  text-transform: var(--tt-uppercase);
  color: var(--text);

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container {
  justify-content: space-between;
  padding: 0rem 6rem;
}

.nav,
.navItems {
  display: flex;
  flex-direction: row;
}

#logo {
  width: 1.75rem;
  height: auto;
  object-fit: cover;
}

.logo_path {
  fill: var(--text);
  stroke-width: 0px;
}

.logoName {
  text-decoration: none;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: var(--gap-24);
  cursor: auto;
  color: inherit;
}

.logoName,
.navList {
  display: flex;
  flex-direction: row;
}

.navList {
  margin: 0;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  list-style-type: none;
}

.themeToggle {
  position: relative;
}

.navItems {
  align-items: center;
  align-self: stretch;
  justify-content: flex-end;
  gap: var(--gap-56);
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0rem 2rem;
  }
}

@media screen and (max-width: 1180px) {
  .logoName {
    align-items: center;
    justify-content: flex-start;
  }

  .nav,
  .container {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
  }
}

@media screen and (max-width: 980px) {
  .nav {
    display: flex;
    box-sizing: border-box;
  }

  .navItems {
    display: none;
  }

  .eprisRichardson {
    display: none;
  }
}
