.nav {
  width: 100%;
  align-self: stretch;
  justify-content: center;

	transition: 0.8s all ease;

  padding-top: var(--p-32);
  padding-bottom: 1rem;
  /* margin-bottom: var(--rem-40px); */

  font-size: var(--rem-16px);
  text-align: left;
  text-transform: var(--tt-uppercase);
  color: var(--text);

  position: -webkit-sticky;
  position: sticky;
  top: 0;

	z-index: 10;
}

.nav.bg2 {
	background-color: var(--bg2);
}

.nav.white {
	background-color: var(--bg1);
}

.container {
  justify-content: space-between;
  padding: 0rem 6rem;
}

.nav,
.navItems,
.logoName,
.navList {
  display: flex;
  flex-direction: row;
}

#logo {
  width: 1.75rem;
  height: auto;
  object-fit: cover;
}

.logo_path {
  fill: var(--text);
  stroke-width: 0px;
}

.logoName {
  text-decoration: none;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: var(--gap-24);
  color: inherit;
}

.navList {
	padding-inline-start: 0px;
	gap: 16px;
}

.themeToggle {
  position: relative;
}

.navItems {
  gap: 32px;
}

.mobile_icon {
  display: none;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0rem 2rem;
  }
}

@media screen and (max-width: 1180px) {
  .logoName {
    align-items: center;
    justify-content: flex-start;
  }

  .nav,
  .container {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
  }
}

@media screen and (max-width: 980px) {
  .nav {
    display: flex;
    box-sizing: border-box;
  }

  .navItems {
    display: none;
		flex-direction: column;
    align-self: normal;
    justify-content: flex-start;
    gap: unset;
  }

  .mobile_icon {
    display: block;
  }

  .mobile_icon svg {
    font-size: var(--rem-36px);
  }

  .mobile_icon.menu_open {
    z-index: 1000;
  }

  .navItems.menu_open {
    display: flex;
    min-width: 260px;
    max-width: 280px;
    height: 100%;
    margin-right: 0px;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--bg2);
    transition: 0.3s ease-in-out;
    opacity: 100%;
    z-index: 999;
  }

  .navItems.menu_open .navList {
    flex-direction: column;
    text-align: center;
    justify-content: center;
		order: 1;
		flex: 1;
  }

  .navItems.menu_open svg {
    font-size: 32px;
  }

  .eprisRichardson {
    display: none;
  }
}
