:root {
  --color-powder-blue: #b9c3df;
  --color-licorice: #11090e;
  --color-cafe-noir: #493622;
  --color-aero: #62bfe4;
  --color-cherry-blossom: #f7b5c3;
  --color-off-black: #1e1e1e;
  --color-silver: #ccc;
  --color-dark-silver: #ababab;

  --text-light: var(--color-jet);
  --text-secondary-light: var(--color-space-cadet);
  --text-reverse-light: var(--color-white);
  --accent-light: var(--color-madder);
  --accent2-light: var(--color-dun);
  --cta-light: var(--color-cerulean);
  --bg1-light: var(--color-sea-salt);
  --bg2-light: var(--color-magnolia);
  --bg-reverse-light: var(--color-space-cadet);

  --text-dark: var(--color-white);
  --text-secondary-dark: var(--color-white);
  --text-reverse-dark: var(--color-black);
  --accent-dark: var(--color-cherry-blossom);
  --accent2-dark: var(--color-cafe-noir);
  --cta-dark: var(--color-aero);
  --bg1-dark: var(--color-off-black);
  --bg2-dark: var(--color-licorice);
  --bg-reverse-dark: var(--color-powder-blue);
}

:root {
  color-scheme: light;
  --text: var(--text-light);
  --text-secondary: var(--text-secondary-light);
  --text-reverse: var(--text-reverse-light);
  --accent: var(--accent-light);
  --accent2: var(--accent2-light);
  --cta: var(--cta-light);
  --bg1: var(--bg1-light);
  --bg2: var(--bg2-light);
  --bg-reverse: var(--bg-reverse-light);
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --text: var(--text-dark);
  --text-secondary: var(--text-secondary-dark);
  --text-reverse: var(--text-reverse-dark);
  --accent: var(--accent-dark);
  --accent2: var(--accent2-dark);
  --cta: var(--cta-dark);
  --bg1: var(--bg1-dark);
  --bg2: var(--bg2-dark);
  --bg-reverse: var(--bg-reverse-dark);
}
