.sidebarWrapper {
  display: flex;
  /* height: calc(100vh - 130px);
  flex-direction: column; */
}

.sidebarHeader {
  box-shadow: none;
  background-image: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0px;
  left: auto;
  right: 0px;
  color: inherit;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebarNav {
  width: 0;
}

.sidebarContent {
  margin-left: -188px;
  width: calc(100% - 260px);
  margin-top: 88px;
}

@media (min-width: 900px) {
  .sidebarNav {
    flex-shrink: 0;
    width: 260px;
  }
}
