.sidebarWrapper {
  display: flex;
  /* height: calc(100vh - 130px);
  flex-direction: column; */
}

.sidebarNav {
  width: 0;
}

.sidebarContent {
}

@media (min-width: 900px) {
  .sidebarNav {
    flex-shrink: 0;
    width: 260px;
  }
}
