body {
  font-family: var(--red-hat-text);
  background-color: var(--bg1);
  color: var(--text);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

/* Section */
section {
  display: flex;
  justify-content: center;
  padding: 0rem 2rem;
}

/* Container */
.container {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 78rem;
}

/* Columns */
.column {
  display: flex;
  flex-direction: column;
}

/* Content Wrapper */
.main_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

button {
  cursor: pointer;
}

#role_and_contributions,
#process {
  scroll-margin-top: 172px;
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 0rem 6rem;
  }
}

/***************************** VARIABLES ******************************/
:root {
  /* Font Sizes */
  --rem-14px: 0.875rem;
  --rem-16px: 1rem;
  --rem-20px: 1.25rem;
  --rem-24px: 1.5rem;
  --rem-28px: 1.75rem;
  --rem-30px: 1.875rem;
  --rem-32px: 2rem;
  --rem-36px: 2.25rem;
  --rem-40px: 2.5rem;
  --rem-42px: 2.625rem;
  --rem-48px: 3rem;
  --rem-56px: 3.5rem;
  --rem-60px: 3.75rem;
  --rem-64px: 4rem;
  --rem-72px: 4.5rem;
  --rem-80px: 5rem;
  --rem-96px: 6rem;

  /* Font Styles */
  --style-normal: normal;
  --style-italic: italic;

  /* Font Weights */
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Text Transforms */
  --tt-none: none;
  --tt-capitalize: capitalize;
  --tt-uppercase: uppercase;
  --tt-lowercase: lowercase;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-space-cadet: #202945;
  --color-magnolia: #f7f0f5;
  --color-dun: #decbb7;
  --color-cerulean: #1b799e;
  --color-madder: #ab1233;
  --color-sea-salt: #f8f8f8;
  --color-jet: #333;
  --color-gray: #555;

  /* Gaps */
  --gap-0: 0rem;
  --gap-8: 0.5rem;
  --gap-24: 1.5rem;
  --gap-40: 2.5rem;
  --gap-56: 3.5rem;

  /* Paddings */
  --p-base: 1rem;
  --p-20: 1.25rem;
  --p-24: 1.5rem;
  --p-32: 2rem;
  --p-40: 2.5rem;

  /* Border Radiuses */
  --br-3: 3px;
  --br-50: 50px;
}

/***************************** TYPOGRAPHY ******************************/

/* Font Families */
h1,
h2,
h3,
h4,
.subhead {
  font-family: var(--dm-serif-text);
}

h5,
h6,
blockquote,
caption,
dt,
dd,
button,
a {
  font-family: var(--red-hat-text);
}

.display {
  font-family: var(--dm-serif-display);
}

/* Font Sizes */
h1 {
  font-size: var(--rem-32px);
  font-weight: var(--fw-400);
  line-height: var(--rem-36px);
  margin: 0px;
}
h2 {
  font-size: var(--rem-24px);
  font-weight: var(--fw-400);
  line-height: var(--rem-36px);
  margin: 0px;
}
h3,
h4,
h2.mobile,
h1.mobile {
  font-size: var(--rem-28px);
  font-weight: var(--fw-400);
  line-height: var(--rem-40px);
  margin: 0px;
}
h5,
h3.mobile .sub1 {
  font-size: var(--rem-16px);
  font-weight: var(--fw-400);
  line-height: var(--rem-24px);
  margin: 0px;
}
h6,
dl,
dt,
button,
p.mobile,
.sub2 {
  font-size: var(--rem-16px);
  line-height: var(--rem-24px);
}
.display1 {
  font-size: var(--rem-64px);
  line-height: var(--rem-72px);
  margin: 0px;
}
.display2 {
  font-size: var(--rem-56px);
  line-height: var(--rem-72px);
  margin: 0px;
}
.display3 {
  font-size: var(--rem-48px);
  font-weight: var(--fw-400);
  line-height: var(--rem-56px);
  margin: 0px;
}
p {
  font-size: var(--rem-16px);
  line-height: var(--rem-24px);
  max-width: 60ch;
}
.lead_para {
  font-size: var(--rem-20px);
  line-height: var(--rem-24px);
  font-weight: var(--fw-200);
}
.sub1,
.sub2 {
  text-transform: uppercase;
  font-weight: var(--fw-600);
  margin: 0px;
}

/* Font Colors */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-secondary);
}
