.desc_list {
  display: table;
  width: 500px;
}

.desc_list div {
  display: table-row;
}

.desc_list .desc_term,
.desc_list .desc_desc {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
}

.desc_term {
  font-weight: var(--fw-500);
}