.container {
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.left_column {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.right_column {
  width: 100%;
}

.portrait {
  width: 85%;
  max-width: 375px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container {
    gap: unset;
  }

  .left_column,
  .right_column {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .portrait {
    width: 100%;
  }
}
