.container {
  flex-direction: column;
  row-gap: 40px;
}

.skills_list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 15px;
  list-style: none;
  padding-inline-start: 0px;
}

.skills_list li {
  margin: 5px 0;
}

.tools {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: auto;
  max-width: 78rem;
  width: calc(100dvw - 6rem);
  min-height: 150px;
}

.tool {
  display: grid;
  grid-template-rows: 48px auto;
  justify-items: center;
  width: 110px;
}

.tool svg path {
  fill: var(--text);
}

.tool p {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  align-self: self-start;
}

@media (min-width: 576px) {
  .tools {
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 10px;
  }

  .skills_list {
    grid-template-columns: repeat(3, 33.33%);
  }
}

@media (min-width: 768px) {
  .skills_list {
    grid-template-columns: repeat(4, 25%);
  }
}
