.shimmer:before {
  content: '';
  position: absolute;
  inset: 0px;
  transform: translateX(-100%);
  animation: animateShimmer 2s ease infinite;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(0 0 0 / 0),
    transparent,
    #fff 60%,
    rgb(0 0 0 / 0),
    transparent
  );
}

.cardSkeleton {
  overflow: hidden;
  position: relative;
  padding: 0.5rem;
  background-color: #f3f4f6;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cardHeader {
  display: flex;
  padding: 1rem;
}

.cardHeaderOne {
  border-radius: 0.375rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #e5e7eb;
}

.cardHeaderTwo {
  margin-left: 0.5rem;
  border-radius: 0.375rem;
  width: 4rem;
  height: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: #e5e7eb;
}

.cardText {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #ffffff;
}

.cardTextOne {
  border-radius: 0.375rem;
  width: 5rem;
  background-color: #e5e7eb;
}

.revenueChartSkeleton {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.revenueChart1 {
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  width: 9rem;
  height: 2rem;
  background-color: #f3f4f6;
}

.revenueChart2 {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: #f3f4f6;
}

.revenueChart3 {
  display: grid;
  padding: 1rem;
  margin-top: 0;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0.5rem;
  align-items: flex-end;
  border-radius: 0.375rem;
  background-color: #ffffff;
  height: 410px;
}

.revenueChart4 {
  display: flex;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  align-items: center;
}

.revenueChart5 {
  border-radius: 9999px;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #e5e7eb;
}

.revenueChart6 {
  margin-left: 0.5rem;
  border-radius: 0.375rem;
  width: 5rem;
  height: 1rem;
  background-color: #e5e7eb;
}

.invoiceSkeleton {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-color: #f3f4f6;
}

.invoiceOne {
  display: flex;
  align-items: center;
}

.invoiceTwo {
  margin-right: 0.5rem;
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  background-color: #e5e7eb;
}

.invoiceThree {
  min-width: 0;
}

.invoiceFour {
  border-radius: 0.375rem;
  width: 10rem;
  height: 1.25rem;
  background-color: #e5e7eb;
}

.invoiceFive,
.invoiceSix {
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  width: 3rem;
  height: 1rem;
  background-color: #e5e7eb;
}

.latestInvoiceSkeleton {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.latestInvoiceOne {
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  width: 9rem;
  height: 2rem;
  background-color: #f3f4f6;
}

.latestInvoiceTwo {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  background-color: #f3f4f6;
}

.latestInvoiceThree {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #ffffff;
}

.latestInvoiceFour {
  display: flex;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  align-items: center;
}

.latestInvoiceFive {
  border-radius: 9999px;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #e5e7eb;
}

.latestInvoiceSix {
  margin-left: 0.5rem;
  border-radius: 0.375rem;
  width: 5rem;
  height: 1rem;
  background-color: #e5e7eb;
}

.dashboardSkeleton {
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  width: 9rem;
  height: 2rem;
  background-color: #f3f4f6;
}

.dashboardOne {
  display: grid;
  gap: 1.5rem;
}

.dashboardTwo {
  display: grid;
  margin-top: 1.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

.tableRowSkeleton {
  border-bottom-width: 1px;
  border-color: #f3f4f6;
  width: 100%;
}

.tableRowSkeleton:last-of-type {
  border-style: none;
}

.tableRowSkeleton:first-child > td:first-child {
  border-top-left-radius: 0.5rem;
}

.tableRowSkeleton:first-child > td:last-child {
  border-top-right-radius: 0.5rem;
}

.tableRowSkeleton:last-child > td:first-child {
  border-bottom-left-radius: 0.5rem;
}

.tableRowSkeleton:last-child > td:last-child {
  border-bottom-right-radius: 0.5rem;
}

.tableRowOne {
  overflow: hidden;
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0.75rem;
  padding-left: 1.5rem;
  white-space: nowrap;
}

.tableRowTwo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.tableRowThree {
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  background-color: #f3f4f6;
}

.tableRowFour {
  border-radius: 0.25rem;
  width: 6rem;
  height: 1.5rem;
  background-color: #f3f4f6;
}

.tableRowFive {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  white-space: nowrap;
}

.tableRowSix {
  border-radius: 0.25rem;
  width: 8rem;
  height: 1.5rem;
  background-color: #f3f4f6;
}

.tableRowSeven {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0.75rem;
  padding-left: 1.5rem;
  white-space: nowrap;
}

.tableRowEight {
  display: flex;
  gap: 0.75rem;
  justify-content: flex-end;
}

.tableRowNine {
  border-radius: 0.25rem;
  background-color: #f3f4f6;
  height: 38px;
  width: 38px;
}

.invoiceMobileSkeleton {
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 0.375rem;
  background-color: rgb(255 255 255 / 1);
  padding: 1rem;
}

.invoiceMobile > .invoiceMobile5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-color: rgb(243 244 246 / 1);
  padding-bottom: 2rem;
}

.invoiceMobile > div > .invoiceMobile3 {
  display: flex;
  align-items: center;
}

.invoiceMobile > div > div > .invoiceMobile1 {
  margin-right: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  background-color: rgb(243 244 246 / 1);
}

.invoiceMobile > div > div > .invoiceMobile2 {
  height: 1.5rem;
  width: 4rem;
  border-radius: 0.25rem;
  background-color: rgb(243 244 246 / 1);
}

.invoiceMobile > div > .invoiceMobile4 {
  height: 1.5rem;
  width: 4rem;
  border-radius: 0.25rem;
  background-color: rgb(243 244 246 / 1);
}

.invoiceMobile > .invoiceMobile6 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.invoiceMobile > div > div > .invoiceMobile8 {
  height: 1.5rem;
  width: 4rem;
  border-radius: 0.25rem;
  background-color: rgb(243 244 246 / 1);
}

.invoiceMobile > div > div > .invoiceMobile9 {
  margin-top: 0.5rem;
  height: 1.5rem;
  width: 6rem;
  border-radius: 0.25rem;
  background-color: rgb(243 244 246 / 1);
}

.invoiceMobile > div > .invoiceMobile10 {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.invoiceMobile > div > div > .invoiceMobile11 {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.25rem;
  background-color: rgb(243 244 246 / 1);
}

.invoiceMobile > div > div > .invoiceMobile12 {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.25rem;
  background-color: rgb(243 244 246 / 1);
}

.invoicesTableSkeleton {
  display: flow-root;
  margin-top: 1.5rem;
}

.invoicesTable1 {
  display: inline-block;
  min-width: 100%;
  vertical-align: middle;
}

.invoicesTable2 {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f9fafb;
}

.invoicesTableSkeleton table {
  display: none;
  min-width: 100%;
  color: #111827;
}

.invoicesTableSkeleton thead {
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: left;
}

.invoicesTableSkeleton .th1 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 500;
}

.invoicesTableSkeleton .th2 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 500;
}

.invoicesTableSkeleton .th3 {
  position: relative;
  padding-top: 0.5rem;
  padding-left: 0.75rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
}

.invoicesTableSkeleton span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.invoicesTableSkeleton tbody {
  background-color: #ffffff;
}

@media (min-width: 640px) {
  .dashboardOne {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .invoicesTableSkeleton .th1 {
    padding-left: 1.5rem;
  }

  .invoicesTableSkeleton .th3 {
    padding-right: 1.5rem;
  }

  .revenueChart3 {
    grid-template-columns: (13, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .latestInvoiceSkeleton {
    grid-column: span 4 / span 4;
  }

  .dashboardTwo {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .invoicesTable2 {
    padding-top: 0;
  }

  .invoicesTable3 {
    display: none;
  }

  .invoicesTableSkeleton table {
    display: table;
  }

  .revenueChartSkeleton {
    grid-column: span 4 / span 4;
  }

  .revenueChart3 {
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .dashboardOne {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .dashboardTwo {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@keyframes animateShimmer {
  100% {
    transform: translateX(100%);
  }
}
