.heading {
  text-align: center;
}

.project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 54px;
}

.project_list a {
  text-decoration: none;
}

.project {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
	overflow: hidden;
	border-radius: 10px;
	
	background-color: var(--color-dun);
	color: var(--color-jet);
	text-align: center;
}

.faded_image {
	position: relative;
	display: inline-block;
	color: var(--color-dun);
}

.faded_image:after {
	content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	border-radius: 10px;
  border-collapse: separate;
	box-shadow: inset 0 -60px 40px -16px;
}

.project img {
	width: 80%;
  max-width: 380px;
  height: auto;
	margin-bottom: -20px;
}

.proj_desc {
  padding: 32px 0px;
	border-radius: 10px;

	.lead_para {
		font-weight: 700;
	}

  .lead_para,
  .language {
    margin: 0;
  }

  .language {
    font-size: var(--rem-16px);
    font-style: italic;
  }
}

@media screen and (min-width: 768px) {
  .project {
    width: 380px;
  }
}
