.left_column {
  width: 100%;
  margin-bottom: 72px;
  justify-content: center;
  align-items: center;
}

.right_column {
  width: 100%;
}

.lucca {
  width: 100%;
  max-width: 375px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .left_column {
    width: 50%;
    align-items: start;
  }

  .right_column {
    width: 50%;
  }

  .lucca {
    width: 100%;
  }
}

@media (min-width: 576px) {
	.container {
		align-items: center;
	}

  .lucca {
    max-width: unset;
  }

	.left-column {
		margin-bottom: unset;
	}
}
