.button_wrapper {
	width: fit-content;
	margin-top: 32px;
	border-radius: 3px;
}

.button {
	overflow: hidden;
	position: relative;
}

.button .link {
	position: relative;
  display: block;
  overflow: hidden;
	width: fit-content;
	padding: 16px 40px;
	border-radius: 3px;

  font-weight: var(--fw-600);
  text-transform: uppercase;
  text-decoration: none;
}

/* SOLID */

.solid {
  border: none;
  background-color: var(--cta);
}

.solid .link {
  color: white;
}

[data-theme='dark']  .solid .link {
  color: var(--text-reverse);
}

/* OUTLINE */

.outline {
  background-color: unset;
  border: 2px solid var(--cta);
}

.outline .link {
  color: var(--cta);
}


/* POSITION AWARE FILL */

.button_wrapper span {
	position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--text-secondary);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  /* z-index: -1; */
}

.link:hover {
  color: var(--text-reverse);
}

.button_wrapper:hover span {
  width: 225%;
  height: 562.5px;
}

.button_wrapper:hover {
	border-color: var(--text-secondary);
}

.button_wrapper:active {
  background-color: var(--cta);
	border: none;
}