/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/sections/Home/hero.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.hero_container__vFBrH {
  flex-wrap: wrap;
}

.hero_left_column__3vfli {
  width: 100%;

  order: 1;
}

.hero_right_column__v5552 {
  width: 100%;

  order: 0;
  align-items: center;
}

.hero_sosweet_bg__CT59A {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

[color-scheme='light'] .hero_sosweet_bg__CT59A {
  background: url(/_next/static/media/hero-phone_bg.227f06d0.png) no-repeat center center;
  background-size: contain;
}

[color-scheme='dark'] .hero_sosweet_bg__CT59A {
  background: url(/_next/static/media/hero-phone_bg_dark.70b6b3fd.png) no-repeat center
    center;
  background-size: contain;
}

.hero_sosweet__q_adk {
  width: 60%;
  max-width: 375px;
  height: auto;
}

.hero_intro__aN0YQ {
  font-family: var(--red-hat-display);
  font-size: var(--rem-48px);
  font-weight: var(--fw-400);
  line-height: var(--rem-64px);
  text-transform: uppercase;

  span.hero_greeting__OL3MR {
    font-family: var(--dm-serif-display);
    font-size: var(--rem-80px);
    font-style: italic;
    text-transform: none;
    color: var(--accent1);
  }
}

.hero_pronunciation__pbE5l {
  font-size: var(--rem-16px);
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .hero_left_column__3vfli {
    order: 0;
    width: 50%;
  }

  .hero_right_column__v5552 {
    width: 50%;
    order: 1;
  }

  .hero_sosweet__q_adk {
    width: 100%;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/sections/Home/role.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.role_container__m5jsK {
  flex-wrap: wrap;
}

.role_left_column__t1vWq {
  width: 100%;

  justify-content: center;
  align-items: center;
}

.role_right_column__I5z1L {
  width: 100%;
}

.role_lucca__rZTcC {
  width: 85%;
  max-width: 375px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .role_left_column__t1vWq {
    width: 50%;
    align-items: start;
  }

  .role_right_column__I5z1L {
    width: 50%;
  }

  .role_lucca__rZTcC {
    width: 100%;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/sections/Home/recentprojects.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.recentprojects_container__gsOjz {
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.recentprojects_heading__M2Z3m {
  text-align: center;
}

.recentprojects_project_list__mDudB {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 54px;
}

.recentprojects_project__IqtkT {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.recentprojects_project__IqtkT img {
  width: 100%;
  max-width: 380px;
  height: auto;
}

.recentprojects_proj_desc__YXY0K {
  width: 80%;
  max-width: 290px;
  background-color: var(--accent4);
  color: white;
  text-align: center;
  padding: 20px 40px;

  .recentprojects_lead_para__xzazO,
  .recentprojects_language__P6srP {
    margin: 0;
  }

  .recentprojects_language__P6srP {
    font-size: var(--rem-16px);
    font-style: italic;
  }
}

@media screen and (min-width: 768px) {
  .recentprojects_project__IqtkT {
    width: 25%;
  }
}

