.button {
  width: fit-content;
  padding: 16px 40px;
  border-radius: 3px;
  margin-top: 32px;
}

.button .link {
  font-weight: var(--fw-600);
  text-transform: uppercase;
  text-decoration: none;
}

/* SOLID */

.solid {
  border: none;
  background-color: var(--cta);
}

.solid .link {
  color: white;
}

[data-theme='dark']  .solid .link {
  color: var(--text-reverse);
}

/* OUTLINE */

.outline {
  background-color: unset;
  border: 2px solid var(--cta);
}

.outline .link {
  color: var(--cta);
}

/* SIZE */

.large {
  font-size: var(--rem-24px);
}
