.button {
  width: fit-content;
  padding: 16px 40px;
  border-radius: 3px;
  margin-top: 32px;
}

.button .link {
  font-weight: var(--fw-600);
  text-transform: uppercase;
  text-decoration: none;
}

/* SOLID */

.solid {
  border: none;
}

.solid .link {
  color: white;
}

.solid.china-rose {
  background-color: var(--color-china-rose);
}

/* OUTLINE */

.outline {
  background-color: unset;
}

.outline.china-rose .link {
  color: var(--color-china-rose);
}

.outline.china-rose {
  border: 2px solid var(--color-china-rose);
}

/* SIZE */

.large {
  font-size: var(--rem-24px);
}
