.switch_icon {
  font-size: 1.5em;
}

.theme_button {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

[data-theme='dark'] .theme_button {
  background-color: var(--color-space-cadet);
}

[data-theme='light'] .theme_button {
  background-color: var(--color-white);
}

.theme_button:is(:hover) {
  background-color: var(--accent2);
  opacity: 0.8;
}
