.navItem {
  letter-spacing: 0.04em;
	list-style: none;;
}

.navText {
  color: var(--text);
  text-decoration: none;
	padding: var(--p-base);
}

.navText:hover {
	color: var(--text-secondary);
	font-weight: 500;
}